body {
  background-color: #2E3A59;
  padding-left: 5%;
  padding-right: 5%;
}

.header {
  border: 0.5px solid #2E3A59; /* lys grå for subtil look */
  border-radius: 8px;         /* runde kanter for mykhet */
  align-content: center;
  justify-content: space-around;
  background-color:  #1a1a1a ;
}

.header img {
  height: 60px;
  border-radius: 50%;
}


nav .header {
  display: flex;
  align-items: center;
  padding: 1%;
}

.nav-btn {
  background: whitesmoke;
  color: #1a1a1a;
  padding: 0.6rem 1.2rem;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.2s ease, background-color 0.3s;
  text-decoration: none;
}

.nav-btn:hover {
  background-color: #F4F4F2;
  transform: scale(1.05);
}




h1 {
  font-size: 2.5rem;
  color: black;
  text-shadow: 0 0 10px plum, 0 0 20px pink;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  animation: glow 2s;
}

.ommeg {
  width: 50%; /* Tar opp halve skjermen */
  padding: 1.5rem;
  background-color: #1a1a1a;
  border: 2px solid #2E3A59;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.2);
  color: #f0f0f0;
  font-size: 1.1rem;
  line-height: 1.6;
}

.img-gaming {
  width: 500px;
  height: auto;
  border-radius: 4%;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 4rem;
}

.console-facts {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  background-color:#2E3A59;
}

.console-card {
  background-color: #2E3A59;
  border: 1px solid black;
  border-left: 6px solid black;
  border-radius: 16px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.console-card:hover {
  transform: translateY(-4px);
}

.console-card h2 {
  margin-top: 0;
  font-size: 1.25rem;
  color: whitesmoke;
}

.console-card ul {
  list-style: none;
  padding-left: 0;
}

.console-card li {
  margin: 0.5rem 0;
  color: whitesmoke;
}

.card-button {
  border: ;
}


.kontaktmeg img {
  height: 140px;
}
.kontaktmeg h2 {
  display: flex;
  justify-content: center;
  color: #5ac8fa;    
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  color: black;
  background-color: whitesmoke;
  text-decoration: solid ;
}

.sosialmedia {
  display: flex;
  justify-content: center;
  padding: 1%;
}